{{ define "main" }}
<h1>Error 404 - Not Found</h1>
<p>We're sorry, but the page you are looking for is lost somewhere in the wasteland.</p>
<p>Perhaps you can find what you're looking for by returning to <a href="/">the vault</a>.</p>
<p>If you think this is a mistake, please contact the Overseer.</p>
<p>Or hire the <a href="/bhos">Brotherhood of Steel</a> to locate the lost page.</p>
<ul>
    <li>Check your Pip-Boy for errors.</li>
    <li>Power cycle your terminal.</li>
    <li>Try using your Pip-Boy's search function.</li>
</ul>
{{ end }}